<div class="loading-data mat-app-background">
  <div class="loading-content-holder">
    <div class="loading-svg">
      <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid meet" viewBox="0 0 13 13" #loaderSVG>
        <g>
          <rect id="tl" x="1" y="1" rx="1" ry="1"></rect>
          <rect id="tr" x="7" y="1" rx="1" ry="1"></rect>
          <rect id="bl" x="1" y="7" rx="1" ry="1"></rect>
          <rect id="br" x="7" y="7" rx="1" ry="1"></rect>
        </g>
      </svg>
    </div>
    <div class="loading-text-holder">
      <div class="loading-text">
        <span>Please Wait</span>
      </div>
    </div>
  </div>
</div>
