div {
  display: flex;
  flex-direction: column;
}

div.portfolio-home-container {
  min-height: 100vh;

  div.top-fab-holder {
    padding: 16px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: fixed;
    bottom: 16px;
    right: 16px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 2;
    transition: 250ms;

    &:hover {
      background-color: #4285f480;
    }
  }
}

div.left-wrapper {
  max-width: 72px;
  justify-content: center;
  align-items: center;

  div.view-name-holder {
    transform: rotate(-90deg);
    font-size: 36px;
    margin: 16px;

    div.view-name {
      font-family: 'Fira Sans', 'Calibri', sans-serif;
      color: #fafafa80;
      text-shadow: 0px 0px 4px #fafafa;
    }
  }
}

div.right-wrapper {
  flex: 1;

  div.top-wrapper {
    justify-content: center;
    flex: 1;
    padding: 16px;
    justify-content: center;
    align-items: center;
  }

  div.bottom-wrapper {
    justify-content: center;
    align-items: center;

    div.scroll-text-holder {
      margin: 16px;
      cursor: pointer;
      justify-content: center;
      align-items: center;

      div.scroll-text {
        margin: 8px;
        justify-content: center;
        align-items: center;

        span {
          text-align: center;
        }
      }

      div.scroll-arrow {
        animation: bounce 1500ms linear infinite alternate;
      }
    }
  }
}

div.homepage-entity-holder {
  flex-direction: row;
  min-height: 100vh;
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);

  }
}
