<div class="py-2
            p-bd-container">
  <div class="my-2
              p-bd-photo-holder">
    <img [src]="biodata.photo.src"
         [alt]="biodata.photo.alt"
         class="img-fluid">
  </div>
  <div class="p-bd-text-holder">
    <div class="p-bd-name">
      <p class="mat-display-3">{{ biodata.asset.name.first }} {{ biodata.asset.name.last }}
      </p>
    </div>
    <div class="p-bd-title">
      <p class="mat-headline">{{ biodata.asset.title | uppercase }}</p>
    </div>
  </div>

  <!-- <div class="p-bd-stack-holder">
    <ng-container *ngFor="let _ of biodata.stack.technologies">
      <div class="p-bd-stack-image-holder">
        <img class="img-fluid"
             [src]="_.icon.src"
             [alt]="_.icon.alt">
      </div>
    </ng-container>
  </div> -->

</div>
