div {
  display: flex;
  flex-direction: column;
}

div.portfolio-app-container {
  min-height: 100vh;

  // background: url('../assets/media/images/design.png');
  // background-size: cover;
  // background-attachment: fixed;

  // Navbar Inspiration : https://prollective.com/
  div.portfolio-navbar-holder {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 2;
  }

  div.portfolio-component-holder {
    flex: 1;
  }
}
