<div class="container">
  <div class="profile-section-holder">
    <div class="profile-section">

    </div>
    <div class="profile-section">

    </div>
    <div class="profile-section">
      <div class="contact-holder">
        <div class="contact">
          <div class="contact-icon">
            <fa-icon [icon]="['fas', 'envelope']"
              size="2x"></fa-icon>
          </div>
          <div class="contact-detail">
            <span title="">usama251993@gmail.com</span>
          </div>
        </div>
        <div class="contact">
          <div class="contact-icon">
            <fa-icon [icon]="['fas', 'phone']"
              size="2x"></fa-icon>
          </div>
          <div class="contact-detail">
            <span title=""></span>
          </div>
        </div>
        <div class="contact">
          <div class="contact-icon">
            <fa-icon [icon]="['fas', 'map-marker-alt']"
              size="2x"></fa-icon>
          </div>
          <div class="contact-detail">
            <span title=""></span>
          </div>
        </div>
        <div class="contact">
          <div class="contact-icon">
            <fa-icon [icon]="['fas', 'globe-asia']"
              size="2x"></fa-icon>
          </div>
          <div class="contact-detail">
            <span title=""></span>
          </div>
        </div>
        <div class="contact">
          <div class="contact-icon">
            <fa-icon [icon]="['fab', 'linkedin']"
              size="2x"></fa-icon>
          </div>
          <div class="contact-detail">
            <span title=""></span>
          </div>
        </div>
        <div class="contact">
          <div class="contact-icon">
            <fa-icon [icon]="['fab', 'bitbucket']"
              size="2x"></fa-icon>
          </div>
          <div class="contact-detail">
            <span title=""></span>
          </div>
        </div>
        <div class="contact">
          <div class="contact-icon">
            <fa-icon [icon]="['fab', 'facebook']"
              size="2x"></fa-icon>
          </div>
          <div class="contact-detail">
            <span title=""></span>
          </div>
        </div>
        <div class="contact">
          <div class="contact-icon">
            <fa-icon [icon]="['fab', 'instagram']"
              size="2x"></fa-icon>
          </div>
          <div class="contact-detail">
            <span title=""></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>