<div class="portfolio-navbar-container">
  <div class="portfolio-navbar"
       [ngClass]="{ 'navbar-mobile': navbarState.bIsMobile, 'navbar-active': navbarState.bIsActive }">
    <div class="navbar-trigger-holder" *ngIf="navbarState.bIsMobile" (click)="toggleNavbar()">
      <div id="open-trigger" class="navbar-trigger" *ngIf="!navbarState.bIsActive">
        <span>
          <fa-icon [icon]="['fas', 'bars']"></fa-icon>
        </span>
      </div>
      <div id="close-trigger" class="navbar-trigger" *ngIf="navbarState.bIsActive">
        <span>
          <fa-icon [icon]="['fas', 'times']"></fa-icon>
        </span>
      </div>
    </div>
    <div class="navbar-menu-holder" [ngClass]="{ 'hidden': navbarState.bIsMobile }">
      <div class="navbar-menu" *ngFor="let singleContent of navbarContents; let index = index;"
           (click)="navigateTo(singleContent)">
        <div class="navbar-menu-text">
          <span>{{ singleContent.detail.content }}</span>
        </div>
        <div class="navbar-menu-icon">
          <fa-icon [icon]="[singleContent.icon.prefix, singleContent.icon.name]"
                   [size]="singleContent.icon.transform.size" [rotate]="singleContent.icon.transform.rotate"></fa-icon>
        </div>
      </div>
    </div>
  </div>
</div>